// Import Theme
@import "../../scss/theme";

// Import Globals
@import "../../scss/core/base";

// Component Styles

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

:global(.viewlift-app_container) {
    margin: 0;
    padding: 0;
    height: auto;
    max-height: 100vh;
}

.viewlift-app_container\+inner {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    border: none;
    text-align: center;

    .content-block {
        margin: 0;
        padding: 0;
        flex: 1 1 auto;
        width: 100%;
        border: none;

        &_inner {
            padding: 0;
            height: auto;
            width: 100%;
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {

        .content-block {
            padding: 0;
        }

    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {

        .content-block {
            padding: 0;
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {

        .content-block {
            padding: 0;
        }
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {

        .content-block {
            padding: 0;
        }
    }
}
